<% if current_user %>
  <h2><%= link_to "Post New Message", new_conversation_message_path(@conversation) %></h2>
<% end %>

<% @messages.each do |message| %>
  <div class="message">
    <p><%= message.content %></p>
    <p>Posted on: <%= message.created_at %></p>
  </div>
<% end %>
