<h4><%=@topic.name %>: Conversations </h4>

<% sort_by_date_desc(@topic.conversations).each do |conversation| %>
  <div>Last Updated at <%= conversation.updated_at.strftime("%B %-d at %l:%M %p") %></div>
  <div><a href = '/conversations/<%= conversation.id %>'> <%= conversation.name %> </a></div>
  <br>
<% end %>
